/* Theme */
:root {
	--border           : 1px solid #EEEEEE;
	--dark             : #2C3E50;
	--primary          : #DA8321;
	--valid            : #579C0F;
	--text-color       : #444444;
	--text-color-light : #FFFFFF;
	--text-danger      : #9C1515;
	--font-family      : 'Open Sans', 'sans-serif';
	--background-light : #ECF0F1;
	--border-radius    : 0.3rem;
	--box-shadow       : rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Reset */

* {
	box-sizing : border-box;
}

html, body {
	background-color : var(--background-light);
	font-family      : var(--font-family), serif;
	font-size        : 10px;
	margin           : 0;
	padding          : 0;
}

h1, p {
	margin : 0;
}

h1 {
	margin-bottom : 1rem;
}

ul {
	list-style-type : none;
	padding         : 0;
}

/* Typo */

.btn {
	background    : white;
	border        : 0;
	border-radius : var(--border-radius);
	box-shadow    : var(--box-shadow);
	color         : var(--text-color);
	cursor        : pointer;
	font-size     : 1.6rem;
	font-weight   : bold;
	margin        : 0 .5rem;
	padding       : 1rem 1.5rem;
}

.btn-primary {
	background-color : var(--valid);
	color            : var(--text-color-light);
}

.btn-danger {
	background-color : var(--text-danger);
	color            : var(--text-color-light);
}

.text-danger {
	color       : var(--text-danger);
	font-size   : 1.2rem;
	font-weight : bold;
}

.btn-small {
	font-size : 1.4rem;
	padding   : 0.5rem 1rem;
}

/* Container */

.container {
	color      : var(--text-color);
	display    : flex;
	flex-flow  : column;
	font-size  : 1.6rem;
	min-height : 100vh;
}

/* Header */

header {
	background-color : var(--primary);
	box-shadow       : var(--box-shadow);
	padding          : 1.5rem;
}

.logo {
	color       : var(--text-color-light);
	font-size   : 2rem;
	font-weight : 700;
}

/* Footer */

footer {
	background-color : var(--dark);
	color            : var(--text-color-light);
	display          : flex;
	flex-flow        : row-reverse;
	padding          : 1.5rem;
}

/* Content */

.content {
	align-items     : center;
	display         : flex;
	flex            : 1;
	flex-flow       : row;
	justify-content : center;
}

.todo-container {
	background-color : white;
	border           : var(--border);
	border-radius    : 3px;
	box-shadow       : var(--box-shadow);
	min-height       : 40rem;
	min-width        : 60rem;
	padding          : 1.5rem;
}

.todo-container h1 {
	text-align : center;
}

.todo-form {
	align-items : center;
	display     : flex;
	flex-flow   : row nowrap;
}

.todo-form label {
	flex         : 1;
	margin-right : 0.5rem;
}

.todo-form label input {
	border        : var(--border);
	border-radius : var(--border-radius);
	padding       : 1rem 1.5rem;
	width         : 100%;
}

.todo-item {
	align-items   : center;
	border-radius : var(--border-radius);
	display       : flex;
	flex-flow     : row;
	margin-bottom : 0.5rem;
	padding       : 0.3rem 1.5rem;
}

.todo-item:nth-child(odd) {
	background : var(--primary);
	color      : white;

	padding    : 0.5rem 1rem;
}

.todo-item:nth-child(even) {
	padding : 0.5rem 1rem;

}

.todo-name {
	flex         : 1;
	margin-right : 0.5rem;
}

.todo-done {
	opacity : 0.5;
}

.todo-done span {
	text-decoration : line-through;
}


@media screen and (max-width : 768px) {
	.btn {
		font-size : 1.2rem;
		padding   : 0.8rem 1.2rem;
	}

	.btn-small {
		font-size : 1.2rem;
		padding   : 0.4rem 0.8rem;
	}

	.container {
		font-size : 1.4rem;
	}

	.logo {
		font-size : 1.6rem;
	}

	.todo-container {
		min-height : 20rem;
		min-width  : 30rem;
		padding    : 1rem;
	}

	.todo-item {
		padding : 0.2rem 0.6rem;
	}

	.todo-form label {
		margin-right : 0.3rem;
	}

	.todo-form label input {
		padding : 0.5rem 0.6rem;
	}

	header, footer {
		padding : 1rem;
	}

}